<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
  <script type="text/javascript" src="../js/services/service.js"></script>
  <script type="text/javascript" src="../js/controllers/controller.js"></script>

</head>
<body>

<div class="container" ng-controller="queryDBCtrl">
  <h2>Find Account</h2>
  <p>Use the filters to search for a specific account</p>
  <div class="row">
     <div class="col-xs-3">
     </div>
     <div class="col-xs-3">
          <div class="form-group">
              <input type="text" class="form-control" id="email" placeholder="Full or last 4">
          </div>
     </div>
     <div class="col-xs-3">
          <div class="form-group">
              <select class="form-control" ng-model="first_chosed">
                        <option ng-repeat="firstchoice in firstFieldList">{{firstchoice}}</option>
              </select>              
          </div>          
     </div>
     <div class="col-xs-3">
        <img src="../images/plus.png" ng-click="AddOneMore();"/>
     </div>
  </div>
<div class="row" ng-show="showsecond">
     <div class="col-xs-3">
     </div>
     <div class="col-xs-3">
          <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Use * as wildcard">
          </div>
     </div>
     <div class="col-xs-3">
          <div class="form-group">
              <select class="form-control" ng-model="second_chosed">
                  <option ng-repeat="secondchoice in secondfieldset">{{secondchoice}}</option>
              </select>
          </div>
     </div>
     <div class="col-xs-3">
       <img src="../images/close.png" ng-click="closeSecondRow();"/>
       &nbsp;<img src="../images/plus.png" ng-click="AddSecondRow();"/>
     </div>
</div>

<div class="row" ng-show="showthird">
     <div class="col-xs-3">
     </div>
     <div class="col-xs-3">
          <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Last First or Vehicle * as wildcard">
          </div>
     </div>
     <div class="col-xs-3">
          <div class="form-group">
              <select class="form-control" ng-model="third_chosed">
                  <option ng-repeat="thirdchoice in thirdfieldset">{{thirdchoice}}</option>
              </select>
          </div>
     </div>
     <div class="col-xs-3">
       <img src="../images/close.png" ng-click="closeThirdRow();"/>
     </div>
</div>
<div class="row">
     <div class="col-xs-3">
     </div>
     <div class="col-xs-3">
     </div>
     <div class="col-xs-3 text-right">
        <a href="">Save list of filters</a>
     </div>
</div>
<div class="row">
     <div class="col-xs-3">
     </div>
     <div class="col-xs-3">
          <div class="form-group">
              <button class="btn btn-md">Search</button>
          </div>
     </div>
     <div class="col-xs-3">
     </div>
</div>
<hr/>
<h3>Results</h3>
<br/>
<div class="row">
  <div class="col-xs-2">
      All results
  </div>
  <div class="col-xs-8">

  </div>
  <div class="col-xs-2 text-right">
      <!-- <span class="glyphicon glyphicon-cog"></span> -->
      <div class="dropdown">
    <span class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>
    </span>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#">
          <input type="checkbox" ng-checked="true" ng-model="database.row3"
 ng-true-value="'ac_vehicle_name'" ng-false-value="'no'" ng-change="getDatabaseFields(database.row3, 'ac_vehicle_name', 'Account Vehicle Name');"/>&nbsp;Account Vehicle Name
              </a>
          </li>
          <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#">
          <input type="checkbox" ng-model="database.row4"
 ng-true-value="'ac_man_acc_number'" ng-false-value="'no'" ng-change="getDatabaseFields(database.row4, 'ac_man_acc_number', 'Managing Account Number');"/>&nbsp;Managing Account Number
              </a>
          </li>
          <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#">
          <input type="checkbox" ng-model="database.row5"
 ng-true-value="'ac_man_account'" ng-false-value="'no'" ng-change="getDatabaseFields(database.row5, 'ac_man_account', 'Managing Account ID');"/>&nbsp;Managing Account ID
              </a>
          </li>
          <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#">
          <input type="checkbox" ng-model="database.row6"
 ng-true-value="'man_acc_name'" ng-false-value="'no'" ng-change="getDatabaseFields(database.row6, 'man_acc_name', 'Managing Account Name');"/>&nbsp;Managing Account Name
              </a>
          </li>
    </ul>
  </div>
  </div> 
</div>
<div class="row">
  <div class="table-responsive table-bordered">          
    <table class="table">
        <thead style="background-color:#E2E2E2;">
           <tr>
              <th></th>    
              <th ng-repeat="field in fieldNames">{{field}}</th>
          </tr>
        </thead>
        <tbody>                                
            <tr ng-repeat="fieldValue in fieldValues track by $index" ng-click="selectInputField(this);">
                <td><input type="radio" name="details" ng-model="merchant_info" value="{{fieldValue.acc_id}}" /></td>
                <td ng-repeat="dbfieldname in databaseFields">{{fieldValue[dbfieldname]}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
</div>
</body>
</html>
